@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.font-family{
    font-family: 'Roboto Condensed', sans-serif;
} 

.bg-orange{
    background-color: #3A3B32;
}


.text-weight{
    font-weight: 550;
    font-size: large;
}


#logoajuste{
    width: 90px;
    height: 70px;
    padding: -2px;
    margin: -2px;
}

.background-mw{
    background-image: url();
}

.tm-social{
    height: 45px;
    width: 45px;
}

.imgbg{
    width: auto;
    height: auto;
    background-image: url();
}

